extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'navbar'
  - var parent = 'layout'
  - var title = 'Navbar - Layout - ridestyler.ui CSS Framework'
  - var description = 'Navbar is a layout container that appears in the header of apps and websites. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

mixin user-menu-example
  span.dropdown.dropdown-right
    button.link.dropdown-toggle
      | Wheel Co. 
      i.icon.icon-caret-down
    ul.menu
      li.menu-item
        .tile.tile-centered
          .tile-icon
            img.avatar(src="../img/avatar-4.png" alt="Avatar")
          .tile-content
            | Steve Rogers
      li.divider
      li.menu-item
        a.active(href="#menus")
          | My profile
        .menu-badge
          label.form-checkbox
            input(type="checkbox")
            i.form-icon
            | Public
      li.menu-item
        a(href="#menus")
          | Settings
        .menu-badge
          label.label.label-primary 2
      li.menu-item
        a(href="#menus")
          | Logout

block docs-content
  +docs-heading('navbar', 'Navbar')

    p Navbar is a layout container that appears in the header of apps and websites.
   
    .docs-demo.columns
      .column
        .navbar
          .navbar-brand RideStyler
          section.navbar-section
            +user-menu-example

    p
      | The navbar component can include logo brand, nav links and buttons, search box or any combination of those elements.
      | Each section with the #[code navbar-section] class will be evenly distributed in the container.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <header class="navbar">
            <section class="navbar-section">
              <a href="..." class="navbar-brand">RideStyler</a>
            </section>
            <section class="navbar-section">
              <span class="dropdown dropdown-right">
                <button class="link dropdown-toggle">Wheel Co. <i class="icon icon-caret-down"></i></button>
                <ul class="menu">
                  ...
                </ul>
              </span>
            </section>
          </header>
    
    +docs-subheading('navbar-branded', 'Branded')

    p
      | You can use #[code navbar-branded] class to use the branded navbar styling. Add a 
      | #[code .navbar-brand] with a #[code .navbar-brand-logo] element inside of it to get 
      | the branded logo. Add an #[code .icon] element and put your logo inside of it to 
      | get your app's logo overlaid ontop.

    .docs-demo.columns
      .column
        .navbar.navbar-branded
          .navbar-brand
            .navbar-brand-logo
            i.icon.icon-car
          section.navbar-section
            h1 Calculators
          section.navbar-section
            +user-menu-example
    
    pre.code(data-lang="HTML")
      code
        :highlight(lang="html")
          <div class="navbar navbar-branded">
            <div class="navbar-brand">
              <div class="navbar-brand-logo"></div>
              <i class="icon icon-car"></i>
            </div>
            <section class="navbar-section">
              <h1>Calculators</h1>
            </section>
            <section class="navbar-section">
              <span class="dropdown dropdown-right">
                <button class="link dropdown-toggle">Wheel Co. <i class="icon icon-caret-down"></i></button>
                <ul class="menu">
                  ...
                </ul>
              </span>
            </section>
          </div>
    
    +docs-subheading('navbar-centered', 'Centered')

    p
      | You can use #[code navbar-center] class to have a centered section.

    .docs-demo.columns
      .column.col-12
        .navbar
          .navbar-section
            a(href="#navbar") Docs
            a(href="#navbar") Examples
          .navbar-center
            .ridestyler-logo-full.light
          .navbar-section
            a(href="https://twitter.com/") Twitter
            a(href="https://github.com/Burkson/ridestyler.ui") GitHub

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <header class="navbar">
            <section class="navbar-section">
              <a href="#">Docs</a>
              <a href="#">Examples</a>
            </section>
            <section class="navbar-center">
              <!-- centered logo or brand -->
            </section>
            <section class="navbar-section">
              <a href="#">Twitter</a>
              <a href="#">GitHub</a>
            </section>
          </header>

  include ../_layout/_footer.pug