extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'loading'
  - var parent = 'utilities'
  - var title = 'Loading - Utilities - ridestyler.ui CSS Framework'
  - var description = 'Loading indicator is used for loading or updating. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('loading', 'Loading')

    p
      | Loading indicator is used for loading or updating.
      | You can add the #[code loading] class to a container for loading status.

    .docs-demo.columns
      .column.col-12.text-center
        .loading

    p
      | Add the #[code loading-lg] class for large size.

    .docs-demo.columns
      .column.col-12.text-center
        .loading.loading-lg

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <!-- loading element -->
          <div class="loading"></div>
          <div class="loading loading-lg"></div>
    
    p You can also add the #[code loading] class to #[code .container], #[code form] or #[code .column] elements.

    .docs-demo.columns
      .column.col-12.loading
        h1 Header 1
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam asperiores nobis assumenda consequatur expedita enim eius cumque fugit optio libero. Aliquid nam ut pariatur eaque voluptates exercitationem, deleniti suscipit molestias.
    

    .docs-demo.columns
      .column.col-9.col-sm-12
        form.form-horizontal(action="#forms").loading
          .form-group
            .col-3
              label.form-label(for="input-example-8") Email
            .col-9
              input#input-example-8.form-input(type="email" placeholder="Email" value="ridestyler.ui@example.com" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$")
          .form-group
            .col-3
              label.form-label(for="input-example-9") URL
            .col-9
              input#input-example-9.form-input(type="url" placeholder="URL" value="https://github.com/Burkson/ridestyler.ui")


  include ../_layout/_footer.pug