#copyright.docs-footer.container.grid-lg
  p
    a(href='https://github.com/Burkson/ridestyler.ui' target='_blank') GitHub
    |  · 
    a(href='https://ridestyler.com' target='_blank') RideStyler
    |  · Version 
    span.version
  p
    | Built with 
    i.icon.icon-brain
    | s by 
    a(href='https://www.ridestyler.com' target='_blank') RideStyler
    | .