block global
  - var domain = 'https://burkson.github.io/ridestyler.ui/'
  - var url = domain

block variables
  - var slug = ''
  - var parent = ''
  - var title = 'ridestyler.ui'
  - var description = 'ridestyler.ui is the CSS framework used by RideStyler branded apps.'

if slug == parent
  if slug == 'index'
    - var url = domain 
  else
    - var url = domain + slug + '.html'
else 
  - var url = domain + parent + '/' + slug + '.html'

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content= description)
    meta(name='author' content='Byron Carasco')
    meta(property='og:url' content= url)
    meta(property='og:title' content= title)
    meta(property='og:description' content= description)
    if slug != parent
      link(rel='shortcut icon' href='../img/favicons/favicon.ico')
      link(rel='icon' href='../img/favicons/favicon.png')
      link(rel='stylesheet' href='../dist/rsui.min.css')
      link(rel='stylesheet' href='../dist/docs.min.css') 
    else 
      link(rel='shortcut icon' href='img/favicons/favicon.ico')
      link(rel='icon' href='img/favicons/favicon.png')
      link(rel='stylesheet' href='dist/rsui.min.css')
      link(rel='stylesheet' href='dist/docs.min.css')
    link(rel='canonical' href= url)

  body
    block content