extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'buttons'
  - var parent = 'elements'
  - var title = 'Buttons - Elements - ridestyler.ui CSS Framework'
  - var description = 'Buttons include simple button styles for actions in different types and sizes. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('buttons', 'Buttons')

    p Buttons include simple button styles for actions in different types and sizes.

    .docs-demo.columns
      .column.col-12
        button.btn default button
        button.btn.btn-primary primary button
        button.btn.btn-secondary secondary button

    p
      | Add the #[code btn] class to #{'<a>'}, #{'<input>'} or #{'<button>'} elements for a default button. 
      | There are classes #[code btn-primary] and #[code btn-secondary] for predefined primary and secondary buttons.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn">default button</button>
          <button class="btn btn-primary">primary button</button>

    +docs-subheading('buttons-shapes', 'Button shapes')

    p
      | All buttons have a square bottom-right corner by default. Add a #[code round] class to the button to round it out.

    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary default button
        button.btn.round round button

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn btn-primary">default button</button>
          <button class="btn round">round button</button>

    +docs-subheading('buttons-sizes', 'Button sizes')

    .docs-demo.columns
      .column.col-12
        button.btn.btn-primary.btn-lg
          | large 
          i.icon.icon-arrow-down
        button.btn.btn-primary.btn-lg large button
      .column.col-12
        button.btn.btn-primary
          | normal 
          i.icon.icon-arrow-down
        button.btn.btn-primary normal button
      .column.col-12
        button.btn.btn-primary.btn-sm
          | small 
          i.icon.icon-arrow-down
        button.btn.btn-primary.btn-sm small button
      .column.col-12
        button.btn.btn-primary.btn-block block button


    p
      | Add the #[code btn-sm] or #[code btn-lg] class for small or large button size. 
      | Also, you can add the #[code btn-block] class for a full-width button.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn btn-lg">large button</button>
          <button class="btn btn-sm">small button</button>

          <button class="btn btn-block">block button</button>

          <button class="btn btn-primary btn-lg"><i class="icon icon-arrow-down"></i> large</button>
          <button class="btn btn-primary"><i class="icon icon-arrow-down"></i> normal</button>
          <button class="btn btn-primary btn-sm"><i class="icon icon-arrow-down"></i> small</button>

    +docs-subheading('buttons-actions', 'Action buttons')
    p
      | You can use the #[code btn-action] class for a square button. Add another #[code s-circle] class for a round button, which is often used as a floating action button.

    .docs-demo.columns
      .column.col-xs-12
        button.btn.btn-action.btn-primary.btn-lg
          i.icon.icon-expand-arrows-alt
        button.btn.btn-action.btn-primary
          i.icon.icon-expand-arrows-alt
        button.btn.btn-action.btn-primary.btn-sm
          i.icon.icon-expand-arrows-alt
      .column.col-xs-12
        button.btn.btn-action.btn-primary.btn-lg.s-circle
          i.icon.icon-arrow-up
        button.btn.btn-action.btn-primary.s-circle
          i.icon.icon-arrow-up
        button.btn.btn-action.btn-primary.btn-sm.s-circle
          i.icon.icon-arrow-up

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <button class="btn btn-action"><i class="icon icon-arrow-left"></i></button>
          <button class="btn btn-action s-circle"><i class="icon icon-arrow-left"></i></button>
    
    

    +docs-subheading('buttons-clear', 'Clear button')

    p Use #[code btn-clear] to add a clear button. Useful for closing #[a(href="../components/toasts.html") Toasts] or #[a(href="../components/modals.html") Modals].

    .docs-demo.columns
      .column.col-9.col-sm-12
        .toast
          button.btn.btn-clear.float-right
          h6 Toast Title
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    
    
    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="toast">
            <button class="btn btn-clear float-right"></button>
            <h6>Toast Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>

    +docs-subheading('buttons-states', 'Button states')

    p
      | Add the #[code disabled] class or the #[code disabled] attribute for disabled button state style.

    .docs-demo.columns
      .column.col-12
        button.btn.disabled(tabindex="-1") default disabled
        button.btn.btn-primary(disabled="" tabindex="-1") primary disabled

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <!-- buttons with disabled state -->
          <button class="btn disabled" tabindex="-1">disabled button</button>
          <button class="btn" disabled tabindex="-1">disabled button</button>

    p
      | A button with the #[code loading] class can show loading indicator.

    .docs-demo.columns
      .column.col-12
        button.btn.loading default button
        button.btn.btn-primary.loading primary button
        button.btn.btn-secondary.loading primary button

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <!-- buttons with loading state -->
          <button class="btn loading">button</button>
          <button class="btn btn-primary loading">primary button</button>

    +docs-subheading('buttons-groups', 'Button groups')

    .docs-demo.columns
      .column.col-6.col-md-12
        .btn-group
          button.btn first button
          button.btn second button
          button.btn third button
      .column.col-6.col-md-12
        .btn-group.btn-group-block
          button.btn.btn-primary first button
          button.btn.btn-primary second button
          button.btn.btn-primary third button
      .column.col-6.col-md-12
        .btn-group
          button.btn.btn-sm first button
          button.btn.btn-sm second button
          button.btn.btn-sm third button
      .column.col-6.col-md-12
        .btn-group.btn-group-block
          button.btn.btn-primary.btn-sm first button
          button.btn.btn-primary.btn-sm second button
          button.btn.btn-primary.btn-sm third button
        
    p
      | If you want to use buttons as a group, add the #[code btn-group] class to the container.
      | You can add the #[code btn-group-block] class for a full-width button group.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="btn-group btn-group-block">
            <button class="btn">first button</button>
            <button class="btn">second button</button>
            <button class="btn">third button</button>
          </div> 

  include ../_layout/_footer.pug