extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'headers'
  - var parent = 'elements'
  - var title = 'Headers - Elements - ridestyler.ui CSS Framework'
  - var description = 'Headers are used to hold top-level titles or components. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('headers', 'Headers')

    p Headers are used to hold top-level titles or components. Just add a #[code header] element and insert your content inside of it.

    .docs-demo.columns
      .column
        .navbar.navbar-branded
          .navbar-brand
            .navbar-brand-logo
            i.icon.icon-car
          section.navbar-section
            h1 Augmented Reality
          section.navbar-section
            button.btn.btn-link
              | Wheel Co. 
              i.icon.icon-caret-down
        header
          | Upload Your Photo
    
    p They look good below a #[a(href="../layout/navbar.html#navbar-branded") Navbar] or just fine 🕶 by themselves.
    
    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <header>
            Upload Your Photo
          </header>
    
    p Add a #[code .compact] class for less padding

    .docs-demo.columns
      .column
        .navbar.navbar-branded
          .navbar-brand
            .navbar-brand-logo
            i.icon.icon-car
          section.navbar-section
            h1 Augmented Reality
          section.navbar-section
            button.btn.btn-link
              | Wheel Co. 
              i.icon.icon-caret-down
        header.compact.text-center.bg-ridestyler-gray Download our new app!
        header
          | Upload Your Photo

  include ../_layout/_footer.pug