extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'icons'
  - var parent = 'elements'
  - var title = 'Icons - Elements - ridestyler.ui CSS Framework'
  - var description = 'Icons are single-element, responsive and pure CSS icons. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('icons', 'Icons')
    p
      | ridestyler.ui includes its own custom set of icons that you can use in your interface.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <i class="icon icon-arrow-right"></i>

    p
      | Add a #[code icon] class and the correct 
      code icon-[name]
      |  class to an element to display an icon using a pseudo #[code :before] element.

    +docs-subheading('icons-fontawesome', 'Font Awesome')

    p
      | All of the icons from #[a(href='https://fontawesome.com/icons?d=gallery&s=solid&m=free' target='blank') FontAwesome v5 (free, solid)] have been included. 
      | Use their website or browse the #[code /src/icons/font-awesome-solid] folder to discover icon names.
    .docs-demo.columns
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-arrow-up
        p icon-arrow-up
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-arrow-right
        p icon-arrow-right
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-arrow-down
        p icon-arrow-down
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-arrow-left
        p icon-arrow-left
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-angle-double-up
        p icon-angle-double-up
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-angle-double-right
        p icon-angle-double-right
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-angle-double-down
        p icon-angle-double-down
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-angle-double-left
        p icon-angle-double-left
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-shopping-cart
        p icon-shopping-cart
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-user-secret
        p icon-user-secret
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-biohazard
        p icon-biohazard
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-sd-card
        p icon-sd-card
      .column.col-3.col-md-6
        button.btn.btn-primary.btn-action.btn-lg
          i.icon.icon-pizza-slice
        p icon-pizza-slice

    +docs-subheading('icons-custom', 'Custom icons')

    p
      | Custom icons can easily be added in the future by adding them to the #[code src/icons] folder and rebuilding the fonts.

    +docs-subheading('icons-sizes', 'Icon sizes')

    p
      | Use #[code icon-2x], #[code icon-3x] and #[code icon-4x] classes to increase icon sizes.
      | You can set #[code font-size] to have different icon sizes.

    .docs-demo.columns
      .column.col-3.col-md-6
        p
          i.icon.icon-2x.icon-camera-retro
        p icon-2x (2rem)
      .column.col-3.col-md-6
        p
          i.icon.icon-3x.icon-camera-retro
        p icon-3x (3rem)
      .column.col-3.col-md-6
        p
          i.icon.icon-4x.icon-camera-retro
        p icon-4x (4rem)

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <i class="icon icon-2x icon-camera-retro"></i>
    
    +docs-subheading('icons-scss', 'SCSS Enhancements')

    p
      | A variable containing the unicode value for each icon is included and can be used in place of the #[code .icon] classes. 
      | To use the custom variables extend the #[code %icon] placeholder selector (or add the #[code font-family: 'rsui-icons';] to your class), and 
      | use the variable in the #[code :before] or #[code :after] pseudo-class.

    pre.code(data-lang='SCSS')
      code
        :highlight(lang="scss")
          .my-custom-icon {
            @extend %icon;

            &:before {
              content: $icon-code-camera-retro;
            }
          }

  include ../_layout/_footer.pug