// Accordions
.accordion {

	input:checked~,
	&[open] {
		& .accordion-header {
			.icon {
				transform: rotate(90deg);
				&.icon-accordion {
					transform: rotate(0deg);
					&:after {
						content: $icon-code-minus;
					}
				}
			}
		}

		& .accordion-body {
			max-height: 1000rem;
			overflow: visible;
		}
	}

	.accordion-header {
		display: flex; 
		padding: $unit-1 $unit-2;

		.icon {
			transition: transform .25s;
			&.icon-accordion {
				transition: transform .4s;
				&:after {
					content: $icon-code-plus;
					display: block;
					width: 2em;
					height: 2em;
					border-radius: 50%;
					border: .2em solid $primary-color;
					line-height: 1.6em;
					text-align: center;
					box-sizing: border-box;
					color: $primary-color;
				}
			}
		}
	}

	.accordion-body {
		margin-bottom: $layout-spacing;
		max-height: 0;
		overflow: hidden;
		transition: max-height .25s;
	}
}

// Remove default details marker in Webkit
summary.accordion-header {
	&::-webkit-details-marker {
		display: none;
	}
}