.ridestyler-logo-text {
    width: 375px;
    height: 82px;
    background-image: url($ridestyler-logo-text);
    background-size: 100% 100%;
}
.ridestyler-logo-icon {
    width: 45px;
    height: 45px;
    background-image: url($ridestyler-logo-icon);
    background-size: 100% 100%;
}
.ridestyler-logo-full {
    background-image: url($ridestyler-logo-full);
    width: 187px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.light {
        background-image: url($ridestyler-logo-full-light);
    }
}
.ridestyler-logo-tagonly {
    background-image: url($ridestyler-logo-tagonly-black);
    width: 100px;
    height: 100px;
    background-size: 100% 100%;

    &.light {
        background-image: url($ridestyler-logo-tagonly-white);
    }
}