header {
    background-color: $bg-color;
    padding: $layout-spacing-sm $layout-spacing-lg;
    text-transform: uppercase;
    font-weight: 800;

    &.compact {
        font-weight: normal;
        text-transform: none;
        padding: $unit-1 $layout-spacing-lg;
    }
}