%link {
	color: inherit;
	outline: none;
	text-decoration: none;
	cursor: pointer;

	&:focus {
		outline: thin dotted;
	}

	&.disabled {
		color: $gray-color;
		cursor: not-allowed;
	}
}

.link {
	@extend %link;

	&.link-primary {
		color: $primary-color;
	}

	&.link-secondary {
		color: $secondary-color;
	}
}

a {
	@extend %link;
	@extend .link, .link-primary;
}

button.link {
	-webkit-appearance: none;
	background: none;
	border: none;
	padding: 0;
}