@mixin menuItemSize($menu-item-padding-x, $menu-item-padding-y) {
	padding: $menu-item-padding-y $menu-item-padding-x;

	
	&>a {
		margin: (-$menu-item-padding-y) (-$menu-item-padding-x);
		padding: $menu-item-padding-y $menu-item-padding-x;
	}
}

.menu {
	border-radius: $border-radius;
	list-style: none;
	margin: 0;
	padding: $layout-spacing-sm;
    z-index: $zindex-3;

	&.menu-nav {
		background: transparent;
		box-shadow: none;
	}

	.dropdown & {
		min-width: $control-size-sm;
	}

	.menu-item {
		@include menuItemSize($control-padding-x-sm, $control-padding-y-sm);

		margin-top: 0;
		position: relative;
		text-decoration: none;

		&>a {
			color: inherit;
            text-decoration: none;
            
            display: flex;
            align-items: center;

			&:focus,
			&:hover {
				background: $bg-color;
				color: $primary-color-light;
			}

			&:active,
			&.active {
				background: $primary-color;
				color: $light-color
			}
        }
        
        .avatar {
            &:first-child{
                margin-right: $unit-2;
            }
        }

        .form-checkbox,
		.form-radio,
		.form-switch {
			margin: $unit-h 0;
		}

		&+.menu-item {
			margin-top: $unit-1;
		}

		&.disabled {
			color: $gray-color-dark;
		}
	}

	.menu-badge {
		align-items: center;
		display: flex;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;

		.label {
			margin-right: $unit-2;
		}
	}

	&.sidebar {
		font-size: 1.2rem;
		border-right: 1px solid $bg-color;
		border-radius: 0;
		padding: 0;
		
		.menu-item {
			@include menuItemSize($control-padding-x, $control-padding-y);	

			font-family: $heading-font-family;
			font-weight: bold;

			&+.menu-item {
				margin-top: 0;
			}
			&>a {
				outline: none;
				
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;

				&:active,
				&.active {
					background: $bg-color;
					color: $body-font-color
				}
			}
		}
	}
}

@media (max-width: $size-xs) {
	.menu {
		min-width: 120px;
		max-width: 85vw;
	}
}