// Menus
.menu {
	border-radius: $border-radius;
	list-style: none;
	margin: 0;
	min-width: $control-width-sm;
	padding: $layout-spacing-sm;
    z-index: $zindex-3;

	&.menu-nav {
		background: transparent;
		box-shadow: none;
	}

	.menu-item {
		$menu-item-padding-x: $control-padding-x-sm;
		$menu-item-padding-y: $control-padding-y-sm;

		margin-top: 0;
		padding: $menu-item-padding-y $menu-item-padding-x;
		position: relative;
		text-decoration: none;

		&>a {
			color: inherit;
			margin: (-$menu-item-padding-y) (-$menu-item-padding-x);
			padding: $menu-item-padding-y $menu-item-padding-x;
            text-decoration: none;
            
            display: flex;
            align-items: center;

			&:focus,
			&:hover {
				background: $bg-color;
				color: $primary-color-light;
			}

			&:active,
			&.active {
				background: $primary-color;
				color: $light-color
			}
        }
        
        .avatar {
            &:first-child{
                margin-right: $unit-2;
            }
        }

        .form-checkbox,
		.form-radio,
		.form-switch {
			margin: $unit-h 0;
		}

		&+.menu-item {
			margin-top: $unit-1;
		}

		&.disabled {
			color: $gray-color-dark;
		}
	}

	.menu-badge {
		align-items: center;
		display: flex;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;

		.label {
			margin-right: $unit-2;
		}
	}
}