@use "sass:math";

$branded-navbar-height: 6rem;

.navbar {
	$navbar-background-color: $ridestyler-color-black;
	$padding-y: $layout-spacing-sm;
	$padding-x: $layout-spacing-lg*0.6;

	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    background-color: $navbar-background-color;
	padding: $padding-y $padding-x;
	color: $light-color;

	%link {
		color: inherit;
		
		&.active {
			outline: none;
			color: $active-color;
		}
	}

	.btn, %link, .navbar-brand {
		margin-right: $layout-spacing-sm;
	}

    .navbar-primary {
		display: flex;
		align-items: center;
    }

	.navbar-section {
		align-items: center;
		display: flex;
		flex: 1 0 0;

		&:not(:first-child):last-child {
			justify-content: flex-end;

			.btn, %link, .navbar-brand {
				margin-right: 0;
				margin-left: $layout-spacing-sm;
			}
		}
	}

	.navbar-center {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
	}

	.navbar-brand {
		font-size: $font-size-lg;
		text-decoration: none;
		display: flex;
		align-items: center;
    }
    
    img.navbar-brand, .navbar-brand img {
        // Using logos instead of text as .navbar-brand
        display: block;
        max-height: 40px;
	}
	
	&.navbar-branded {
		padding: 0;
		height: $branded-navbar-height;

		.navbar-brand {
			position: relative;
			width: 8rem;
			height: $branded-navbar-height;
			flex-shrink: 0;

			.navbar-brand-logo {
				position: absolute;
				overflow: hidden;
				top: 0; left: 0; right: 0; bottom: 0;

				&:before {
					content: '';
					position: absolute;
					right: -2rem;
					top: 0; bottom: 0; left: 0;
					transform: skewX(-20deg) translateX(-3.2rem);
	
					background: -moz-linear-gradient(270deg, $ridestyler-color-red 0%, $ridestyler-color-orange 100%); /* ff3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $ridestyler-color-red), color-stop(100%, $ridestyler-color-orange)); /* safari4+,chrome */
					background: -webkit-linear-gradient(270deg, $ridestyler-color-red 0%, $ridestyler-color-orange 100%); /* safari5.1+,chrome10+ */
					background: -o-linear-gradient(270deg, $ridestyler-color-red 0%, $ridestyler-color-orange 100%); /* opera 11.10+ */
					background: -ms-linear-gradient(270deg, $ridestyler-color-red 0%, $ridestyler-color-orange 100%); /* ie10+ */
					background: linear-gradient(180deg, $ridestyler-color-red 0%, $ridestyler-color-orange 100%); /* w3c */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($ridestyler-color-red)}', endColorstr='#{ie-hex-str($ridestyler-color-orange)}',GradientType=0 ); /* ie6-9 */
				}
	
				&:after {
					content: '';
					background-image: url($ridestyler-logo-tagonly-white);
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 3rem;
					background-size: 80%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			.icon {
				position: absolute;
				background-color: $bg-color;
				color: $ridestyler-color-orange;

				border: none; // I can be a button
				border-radius: 50%; // I'm a circle 
				
				$size: 3rem;

				height: $size;
				width: $size;
				top: math.div(($branded-navbar-height - $size), 2);
				right: 0;

				display: flex;
				align-items: center;
				justify-content: center;
			}

			+ .navbar-section {
				padding-left: $padding-x;
			}
		}

		.navbar-section {
			padding: $padding-y $padding-x;
		}
	}
}

@media (max-width: $size-sm) {
	.navbar {
		&.navbar-branded {
			.navbar-brand + .navbar-section {
				padding-left: 1rem;
			}

			.navbar-section {
				padding: $layout-spacing-sm $layout-spacing-sm;
			}
		}
	}
}
@media (max-width: $size-xs) {
	.navbar {
		&.navbar-branded {
			.navbar-brand {
				width: 7rem;

				+ .navbar-section {
					padding-left: 0.75rem;
				}

				.icon {
					$size: 2.5rem;

					width: $size;
					height: $size;
					
					top: math.div(($branded-navbar-height - $size), 2);
				}
			}

			.navbar-section {
				padding: $layout-spacing-sm*.8 $layout-spacing-sm*.8;
			}
		}
	}
}