// Tables
.table {
    $headerColor: $ridestyler-color-dark-gray;
    $subheaderColor: $ridestyler-color-gray;

	width: 100%;

	@if $rtl==true {
		text-align: right;
	} @else {
		text-align: left;
    }
    
    td,
	th {
		padding: $unit-1 $unit-2;
    }

    th {
        text-transform: uppercase;
    }
    
    thead {
        th {
            background-color: $headerColor;
            color: $light-color;
        }
    }

    tbody {
        th {
            background-color: $subheaderColor;
            color: $light-color;
        }
    }

	&.table-striped {
		tbody {
			tr:nth-of-type(odd) {
				background: $bg-color;
			}
        }
        
        &.table-hover tbody tr:nth-of-type(odd):hover {
            background: $bg-color-dark;
        }
    }
    
    &.table-striped-even {
        tbody {
			tr:nth-of-type(even) {
				background: $bg-color;
			}
        }
        
        &.table-hover tbody tr:nth-of-type(even):hover {
            background: $bg-color-dark;
        }
    }

	&,
    &.table-striped,
    &.table-striped-even {
		tbody {
			tr {
				&.active {
					background: $active-color;
				}
			}
		}
        
        &.table-hover tbody tr.active:hover {
            background: darken($active-color, 10%);
        }
	}

	&.table-hover {
		tbody {
			tr {
				&:hover {
					background: $gray-color;
				}
			}
		}
	}
}