// Tables
.table {
	border-spacing: 0;
	width: 100%;

	@if $rtl==true {
		text-align: right;
	} @else {
		text-align: left;
    }
    
    td,
	th {
		padding: $unit-1 $unit-2;
	}

    tr {
        &:first-child {
            td, th {
                &:first-child {
                    border-top-left-radius: $border-radius;
                }
                &:last-child {
                    border-top-right-radius: $border-radius;
                }
            }
        }
    }

    tbody {
        tr {
            td, th {
                border-bottom: $border-width solid $gray-color;

                &:first-child {
                    border-left: $border-width solid $border-color;
                }
                &:last-child {
                    border-right: $border-width solid $border-color;
                }
            }

            &:last-child {
                td, th {
                    border-bottom: $border-width solid $border-color;

                    &:first-child {
                        border-bottom-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
    }
    
    thead {
        th {
            background-color: $border-color;
            color: $light-color;
        }

        + tbody {
            tr {
                &:first-child {
                    td, th {
                        &:first-child {
                            border-top-left-radius: 0;
                        }
                        &:last-child {
                            border-top-right-radius: 0;
                        }
                    }
                }
            }
        }
    }

	&.table-striped {
		tbody {
			tr:nth-of-type(odd) {
				background: $bg-color;
			}
        }
        
        &.table-hover tbody tr:nth-of-type(odd):hover {
            background: $bg-color-dark;
        }
	}

	&,
	&.table-striped {
		tbody {
			tr {
				&.active {
					background: $active-color;
				}
			}
		}
        
        &.table-hover tbody tr.active:hover {
            background: darken($active-color, 10%);
        }
	}

	&.table-hover {
		tbody {
			tr {
				&:hover {
					background: $gray-color;
				}
			}
		}
	}

	// Scollable tables
	&.table-scroll {
		display: block;
		overflow-x: auto;
		padding-bottom: .75rem;
		white-space: nowrap;
	}
}