// Core variables
$version: "{PACKAGE_VERSION}";
$font-base: "https://static.ridestyler.com/fonts/";

// Core features
$rtl: false !default;

// RideStyler Colors
$ridestyler-color-black: #0D112B;
$ridestyler-color-dark-gray: #556172;
$ridestyler-color-gray: #7A8798;
$ridestyler-color-orange: #F3693C;
$ridestyler-color-red: #E72320;
$ridestyler-color-blue: #21B8F7;
$ridestyler-color-navy: #1b1f38;
$ridestyler-color-dark-navy: #0d112b;

// RideStyler Logos
$ridestyler-logo-text: 'https://static.ridestyler.com/temp/logos/ridestyler-logo-TEXT.svg' !default;
$ridestyler-logo-icon: 'https://static.ridestyler.com/temp/logos/ridestyler-logo-ICON.svg' !default;
$ridestyler-logo-full: 'https://static.ridestyler.com/temp/logos/ridestyler-logo-FULL.svg' !default;
$ridestyler-logo-full-light: 'https://static.ridestyler.com/temp/logos/ridestyler-logo-FULL-light.svg' !default;
$ridestyler-logo-tagonly-black: 'https://static.ridestyler.com/images/ridestyler_logo_tagonly_nobg_black.svg' !default;
$ridestyler-logo-tagonly-white: 'https://static.ridestyler.com/images/ridestyler_logo_tagonly_nobg_white.svg' !default;

// Core colors
$primary-color: $ridestyler-color-blue !default;
$primary-color-dark: darken($primary-color, 10%) !default;
$primary-color-light: lighten($primary-color, 3%) !default;
$secondary-color: $ridestyler-color-orange !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

// Gray colors
$dark-color: $ridestyler-color-black !default;
$light-color: #fff !default;
$gray-color: #c7c7c7 !default;
$gray-color-dark: darken($gray-color, 10%) !default;
$gray-color-light: lighten($gray-color, 10%) !default;

$border-color: $ridestyler-color-dark-gray !default;
$border-color-dark: $ridestyler-color-black !default;
$border-color-light: $gray-color !default;
$bg-color: #E6EBF2 !default;
$bg-color-dark: #d3d8df !default;
$bg-color-light: $light-color !default;
$bg-color-gray: $gray-color !default;

// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #ff0000 !default;
$active-color: $ridestyler-color-orange !default;

// Other colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color-light !default;
$body-font-color: $ridestyler-color-black !default;

// Fonts
$base-font-family: "Open Sans" !default;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: "Segoe UI", Tahoma, sans-serif !default;
$cjk-zh-hans-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $fallback-font-family !default;
$cjk-zh-hant-font-family: $base-font-family, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;
$heading-font-family: "Geomanist", $body-font-family !default;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .4rem !default;
$unit-2: .8rem !default;
$unit-3: 1.2rem !default;
$unit-4: 1.6rem !default;
$unit-5: 2rem !default;
$unit-6: 2.4rem !default;
$unit-7: 2.8rem !default;
$unit-8: 3.2rem !default;
$unit-9: 3.6rem !default;
$unit-10: 4rem !default;
$unit-12: 4.8rem !default;
$unit-16: 6.4rem !default;

// Font sizes
@function rem-calc($size) {
    $baseSize: 16px;
    @return ($size / $baseSize) * 1rem;
}

$html-font-size: 16px !default;
$html-line-height: rem-calc(26px) !default;
$font-size: rem-calc(16px) !default;
$font-size-button: 0.875rem !default;
$font-size-xxs: rem-calc(11px) !default;
$font-size-xs: rem-calc(12px) !default;
$font-size-sm: rem-calc(14px) !default;
$font-size-lg: rem-calc(20px) !default;
$line-height: rem-calc(26px) !default;

// Sizes
$layout-spacing: $unit-3 !default;
$layout-spacing-sm: $unit-2 !default;
$layout-spacing-lg: $unit-8 !default;
$border-radius: $unit-1 !default;
$border-radius-sm: $border-radius * 0.75 !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-7 !default;
$control-size-sm: $unit-6 !default;
$control-size-lg: $unit-12 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $control-padding-x * .75 !default;
$control-padding-x-lg: $control-padding-x * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: $unit-4 !default;

$button-size: $unit-8 !default;
$button-padding-x: $unit-2 !default;
$button-padding-y: ($button-size - $line-height) / 2 !default;

$button-size-sm: $unit-5 !default;
$button-padding-x-sm: $button-padding-x * 0.75 !default;
$button-padding-y-sm: ($button-size-sm - $line-height) / 2 !default;

$button-size-lg: $unit-9 !default;
$button-padding-x-lg: $button-padding-x * 1.5 !default;
$button-padding-y-lg: ($button-size-lg - $line-height) / 2 !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;

// Shadows
$shadow-close: 0.1rem;
$shadow-far: 0.25rem;
$shadow-extra-far: 0.5rem;